.family-section {
  width: 100%;
}

.invite-banner {
  background-color: #c62828; /* Rojo de la imagen */
  color: white;
  padding: 35px 20px;
  text-align: center;
  font-family: 'Great Vibes', cursive;
  font-size: 1.4rem;
  line-height: 1.4;
}

.invite-banner p {
  font-size: 1.4rem;    /* Tamaño de la letra (Sube el número para agrandar) */
  line-height: 1.4;     /* Espacio entre las líneas de texto */
  padding: 10px;        /* Espacio interno del bloque rojo */
}

.family-container {
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 40px 0;
  display: flex;
  flex-direction: column; /* ESTO HACE QUE TODO VAYA HACIA ABAJO */
  align-items: center;
}

.family-overlay {
  /* 0.6 es más transparente, 0.9 es casi blanco sólido. Prueba con 0.5 o 0.6 */
  background-color: rgba(255, 255, 255, 0.1); 
  width: 90%;
  max-width: 450px;
  padding: 40px 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.group-title {
  color: #893446;
  font-family: serif;
  font-size: 1.3rem;
  margin-bottom: 20px;
  font-weight: normal;
}

.script-font {
  font-family: 'Great Vibes', cursive;
  color: #c62828; /* Rojo para los nombres */
  font-size: 2rem;
  margin: 20px 0;
}

.ampersand {
  font-family: 'Great Vibes', cursive;
  color: #c62828;
  font-size: 1.8rem;
  display: block;
  margin: 10px 0;
}

/* Línea divisoria elegante */
.divider {
  width: 88%;
  height: 1px;
  background: linear-gradient(to right, transparent, #893446, transparent);
  margin: 25px auto;
}

/* El nombre principal un poco más grande */
.main-name {
  font-size: 3.2rem !important;
  margin: 25px 0 !important;
}

/* Nuevo recuadro para los padrinos */
.padrinos-box {
  margin-top: 30px;
  border: 0.5px solid #893446;
  padding: 20px;
  border-radius: 12px;
  width: 100%; /* Para que ocupe el ancho del overlay */
}

.section-tag {
  color: #893446;
  font-family: serif;
  font-size: 0.9rem;
  letter-spacing: 3px;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Esto asegura que si AOS no carga, el texto no se quede transparente */
[data-aos] {
  pointer-events: none;
}
[data-aos].aos-animate {
  pointer-events: auto;
}

/* Si prefieres ver todo ya mismo y luego arreglar la animación */
.family-section {
  min-height: 500px;
  opacity: 1 !important;
  visibility: visible !important;
}