.family-section {
  width: 100%;
}

.invite-banner {
  background-color: #c62828; /* Rojo de la imagen */
  color: white;
  padding: 35px 20px;
  text-align: center;
  font-family: 'Great Vibes', cursive;
  font-size: 1.4rem;
  line-height: 1.4;
}

.family-container {
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.family-overlay {
  background-color: rgba(255, 255, 255, 0.8); /* Efecto blanquito sobre las flores */
  width: 90%;
  max-width: 450px;
  padding: 40px 20px;
  border-radius: 15px;
  text-align: center;
}

.group-title {
  color: #893446;
  font-family: serif;
  font-size: 1.1rem;
  margin-bottom: 20px;
  font-weight: normal;
}

.script-font {
  font-family: 'Great Vibes', cursive;
  color: #c62828; /* Rojo para los nombres */
  font-size: 2.2rem;
  margin: 5px 0;
}

.ampersand {
  font-family: 'Great Vibes', cursive;
  color: #c62828;
  font-size: 1.8rem;
  display: block;
  margin: -10px 0;
}